{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header class="container">

        <div>
            <img class="logo" src="{% static 'img/chave-do-hotel.png' %}">
        </div>

        <nav class="menu container">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>	
                <li><a href="{% url 'cadastro' %}">Crie sua conta</a></li>			
            </ul>
        </nav>
        
        <div class="clear"></div>

    </header>

    {% include 'partials/_alertas.html' %}

    <section class="bg">

        <div class="form_container container">
            <h2>Login</h2>

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}

                <div class="input_single">
                    <p>*E-mail:</p>
                    <input id="email" type="text" name="email" required>
                </div>

                <div class="input_single">
                    <p>*Senha:</p>					
                    <input id="senha" type="password" name="senha" required>
                </div>

                <div class="input_single">
                    <input type="submit" name="acao" value="Entrar">
                </div>

                <div class="input_single">
                    <p>*Campos Obrigatorios</p>
                </div>

                <div class="clear"></div>

            </form>

        </div>
            
    </section>

{% endblock %}